.login-page img {
  display: inline;
  /* place-self: left;  align-self: center; */
  height: 25px;
  width: 25px;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 5px;
  margin-top: 5px;
}

.login-page .password-eye  {
 text-align: left;
}

.login-page form div label {
  display: inline;
  vertical-align: middle;
  margin-bottom: 10px;
}

.login-page form button {
  font-size: 1.2em;
  display: inline-block;
  /* font-size: 18px; */
  place-self: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 6px 10px 6px;
  border-radius: 2px;
  margin-top: 15px;
  background: #2c2c2c;
  color: whitesmoke;
  border: none;
  cursor: pointer;
}

.login-page form button:hover {
  color: whitesmoke;
  background: #006A4E;
}

.login-page form button.disabled:hover {
  background: gray;
  color: whitesmoke;
}

.login-page .error {
  display: inline-block;
  place-self: center;
  border: 2px solid crimson;
  border-radius: 4px;
  background: rgb(187, 66, 66);
  color: whitesmoke;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
}

.login-page .disabled {
  cursor:not-allowed;
  background: gray;
  color: whitesmoke;
}

.login-page main {
  margin-top: 90px;
}